DOCFLOW_DEBUG=false
DOCFLOW_SECRET_KEY=CHANGE_ME_TO_LONG_RANDOM_SECRET
DOCFLOW_ALLOWED_HOSTS=127.0.0.1,localhost,10.110.53.17
DOCFLOW_CSRF_TRUSTED_ORIGINS=http://10.110.53.17:8010

DOCFLOW_DB_ENGINE=mssql
DOCFLOW_DB_NAME=DocflowApplicationDB
DOCFLOW_DB_USER=FlowUser
DOCFLOW_DB_PASSWORD=CHANGE_ME
DOCFLOW_DB_HOST=10.110.53.17
DOCFLOW_DB_PORT=1433
DOCFLOW_DB_DRIVER=ODBC Driver 18 for SQL Server
DOCFLOW_DB_EXTRA_PARAMS=TrustServerCertificate=yes

DOCFLOW_MEDIA_ROOT=S:\Договоры и соглашения\DocFlow\data\media
DOCFLOW_STATIC_ROOT=S:\Договоры и соглашения\DocFlow\data\staticfiles

DOCFLOW_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DOCFLOW_DEFAULT_FROM_EMAIL=docflow@company.local
